venv
.env
.idea
.vscodeg
__pycache__/
*.py[cod]
*.so
diff.py
#git rm -rf --cached .
Bad Guy (1).mp3
Bellyache.mp3
Copycat.mp3
Everything i Wanted.mp3
Getting Older.mp3
Happier Than Ever.mp3
I Didn't Change My Number.mp3
Happier Than Ever.mp3rx6z8g7h.tmp
ilomilo.mp3
Ilomilo (Mbnn Remix).mp3
Lo Vas A Olvidar.mp3
Lost Cause.mp3
Lovely.mp3
my future.mp3
NDA.mp3
No Time To Die.mp3
Ocean Eyes.mp3
Six Feet Under.mp3
Six Feet Under (Aire Atlantica Remix).mp3
Six Feet Under (Jerry Folk Remix).mp3
Therefore I Am.mp3
xanny.mp3
you should see me in a crown.mp3
Your Power.mp3